@import "https://unpkg.com/open-props";
@import "https://unpkg.com/normalize.css";

/* CorbinOtwell.com Tokens */
:root {
    --text-color: var(--gray-8);
    --text-light: var(--gray-7);
    --text-hover-color: var(--gray-9);
    --background-color: white;
    --logo-container-background: var(--gray-1);
    --padding: var(--size-5);
    --link-button-background: var(--gray-1);
    --link-underline-color: var(--gray-5);
}

/* Paul Irish * { Box-sizing: Border-box } FTW - https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* CorbinOtwell.com Styles */

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-sans);
    padding: var(--padding);
}

h1, h2, h3, h4, p, .home .link-button {
    margin: var(--size-7) 0;
}


.about-me p:last-of-type {
    margin-bottom: 0;
}

.about-me h1, .about-me p, .about-me li {
    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    max-width: 80ch;
    padding: 0;
}

.resume section, .resume .flex-logo {
    margin-top: var(--size-9);
}

.resume .logo-container {
    margin-right: var(--size-7);
}

.resume h1 {
    font-size: var(--font-size-6);
    line-height: var(--font-lineheight-3);
}
.resume h2 { 
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-4);
    color: var(--text-light);
}

.resume h3 { 
    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-3);
}

.resume p + h3 {
    margin-top: var(--size-8);
}

.resume h4 {
    margin-bottom: var(--size-3);
}

.resume h4 { 
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-3);
    font-weight: bold;
}

.resume p {
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    max-width: 80ch;
}

.resume small {
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    color: var(--text-light);
 
}

a, a:visited { 
    color: var(--text-color);  
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-thickness: .1em;
    text-underline-offset: .1em;
}

a:hover {
    color: var(--text-hover-color);
}

.logo-container__logo {
    height: var(--size-10);
    width: var(--size-10);
}

.flex-logo {
    display: flex;
    align-items: center;
}

.flex-logo h1, .flex-logo p {
    margin: 0;
    line-height: var(--font-lineheight-1);
}

.link-button {
    background: var(--link-button-background);
    padding: 1em;
    border-radius: 9999px;
    display: inline-block;
    font-size: var(--font-size-3);
    text-decoration: none;
}

.link-button__underline {
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    text-decoration-thickness: .2em;
    text-underline-offset: -.2em;
}

.resume {
    max-width: 80ch;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--gray-8);
        --text-color: var(--gray-0);
        --text-light: var(--gray-4);
        --logo-container-background: var(--gray-9);
        --text-hover-color: white;
        --link-underline-color: var(--gray-6);
    }
    .home {
        --link-button-background: var(--gray-7);
    }
    .logo-container__logo {
        color: var(--gray-6);
    }
    .resume {
        --background-color: var(--gray-8);
        --link-button-background: var(--gray-7);
    }
}

@media (min-width: 1024px) {
    .home {
        padding: 0;
    }
    .grid-half {
        --padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        overflow: hidden;
    }
    .grid-half .logo-container {
        height: 100vh;
        display: grid;
        place-items: center;
        background: var(--logo-container-background);
    }
    .grid-half .logo-container__logo {
        height: var(--size-14);
        width: var(--size-14);
    }
    .about-me { 
        padding: var(--size-9);
        overflow-x: auto;
    }
    .about-me h1 {
        margin-top: 0;
    }
}

@media (max-width: 1023px) and (prefers-color-scheme: dark) {
    .home {
        --background-color: var(--gray-8);
        --link-button-background: var(--gray-7);
    }
}

@media (max-width: 1023px) {
    .home {
        max-width: 80ch;
        margin: 0 auto;
    }
}