@import "https://unpkg.com/open-props";
@import "https://unpkg.com/normalize.css";

/* CorbinOtwell.com Tokens */
:root {
    --text-color: var(--gray-8);
    --text-light: var(--gray-7);
    --text-hover-color: var(--gray-9);
    --background-color: white;
    --logo-container-background: var(--gray-1);
    --padding: var(--size-5);
    --link-button-background: var(--gray-1);
    --link-underline-color: var(--gray-5);
    --focus-outline-color: var(--gray-9);
    --focus-outline-width: .2rem;
    --focus-outline-offset: .2em;
}

/* Paul Irish * { Box-sizing: Border-box } FTW - https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Flex Utilities */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-content-center {
    align-content: center;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.align-content-stretch {
    align-content: stretch;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-baseline {
    align-items: baseline;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-baseline {
    align-self: baseline;
}

.flex-initial {
    flex: 0 1 auto;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-no-shrink-auto {
    flex: 1 0 auto;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-none {
    flex: none;
}

.order-first {
    order: -9999;
}

.order-last {
    order: 9999;
}

/* Gap Utilities */

.gap-1 { 
    gap: var(--size-1); 
}
.gap-2 { 
    gap: var(--size-2); 
}
.gap-3 { 
    gap: var(--size-3); 
}
.gap-4 { 
    gap: var(--size-4); 
}
.gap-5 { 
    gap: var(--size-5); 
}
.gap-6 { 
    gap: var(--size-6); 
}
.gap-7 { 
    gap: var(--size-7); 
}
.gap-8 { 
    gap: var(--size-8); 
}
.gap-9 { 
    gap: var(--size-9); 
}
.gap-10 { 
    gap: var(--size-10); 
}
.gap-11 { 
    gap: var(--size-11); 
}
.gap-12 { 
    gap: var(--size-12); 
}
.gap-13 { 
    gap: var(--size-13); 
}
.gap-14 { 
    gap: var(--size-14); 
}
.gap-15 { 
    gap: var(--size-15); 
}

/* Stack Component */

.stack {
    display: grid;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 0;
}

/* CorbinOtwell.com Styles */

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-sans);
    padding: var(--padding);
}

h1, h2, h3, h4, p, .home .link-button, .work__details {
    margin: var(--size-7) 0;
}


.about-me p:last-of-type {
    margin-bottom: 0;
}

.about-me h1, .about-me p, .about-me li {
    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    max-width: 80ch;
    padding: 0;
}

.resume section {
    margin-top: var(--size-9);
}

.resume .logo-container {
    margin-right: var(--size-3);
}

.resume h1 {
    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-3);
    margin: 0;
}
.resume__section-heading { 
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-4);
    color: var(--text-light);
}

.work__employer { 
    font-size: var(--font-size-5);
    line-height: var(--font-lineheight-3);
    margin-top: var(--size-8);
}

.work__details {
    display: flex;
    gap: var(--font-size-3);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: var(--size-8);
}

.work__title { 
    margin: 0;
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-3);
    font-weight: bold;
}

.work__duration {
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    color: var(--text-light);
 
}

.resume p {
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-3);
    font-weight: normal;
    max-width: 80ch;
}

a, a:visited { 
    color: var(--text-color);  
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-thickness: .1em;
    text-underline-offset: .1em;
}

a:hover {
    color: var(--text-hover-color);
}

a:focus-visible {
    outline-offset: var(--focus-outline-offset);
    outline: var(--focus-outline-width) dashed var(--focus-outline-color);
}

.resume .logo-container__logo {
    height: var(--size-8);
    width: var(--size-8);
}

.flex-logo {
    display: flex;
    align-items: center;
}

.flex-logo h1, .flex-logo p {
    margin: 0;
    line-height: var(--font-lineheight-1);
}

.link-button {
    background: var(--link-button-background);
    padding: 1em;
    border-radius: 9999px;
    display: inline-block;
    font-size: var(--font-size-3);
    text-decoration: none;
}

.link-button__underline {
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    text-decoration-thickness: .2em;
    text-underline-offset: -.2em;
}

.resume {
    max-width: 70ch;
    margin: 0 auto;
}

.work__employer {
    background-color: var(--logo-container-background);
    min-height: 20vh;
    display: grid;
    place-items: center;
    border-radius: var(--radius-3);
    padding: var(--size-5);
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--gray-8);
        --text-color: var(--gray-0);
        --text-light: var(--gray-4);
        --logo-container-background: var(--gray-9);
        --text-hover-color: white;
        --link-underline-color: var(--gray-6);
        --focus-outline-color: var(--gray-0);
        --link-button-background: var(--gray-7);
    }
    .logo-container__logo {
        color: var(--gray-6);
    }
}

@media (min-width: 1024px) {
    .home {
        padding: 0;
    }
    .grid-half {
        --padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        overflow: hidden;
    }
    .grid-half .logo-container {
        height: 100vh;
        display: grid;
        place-items: center;
        background: var(--logo-container-background);
    }
    .grid-half .logo-container__logo {
        height: var(--size-14);
        width: var(--size-14);
    }
    .about-me { 
        padding: var(--size-9);
        overflow-x: auto;
    }
    .about-me h1 {
        margin-top: 0;
    }
}

@media (max-width: 1023px) and (prefers-color-scheme: dark) {
    /* .home {
        --background-color: var(--gray-8);
    } */
}

@media (max-width: 1023px) {
    .home {
        max-width: 80ch;
        margin: 0 auto;
    }
    .home .logo-container__logo {
        height: var(--size-10);
        width: var(--size-10);
    }
    .work__details {
        flex-direction: column;
    }
}